@font-face {
  font-family: "Bebas Neue";
  src: url("assets/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url("assets/Inter.var.woff2") format("woff2");
}

/* Layout */

:root {
  --main-padding: 6vw;
}

body,
h1,
h2,
p,
blockquote,
figure {
  margin: 0;
}

header,
section,
.banner,
.hero-content,
.gallery,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding-top: 0.7em;
  gap: 0.5em;
}

h1 {
  align-self: flex-start;
  margin-inline-start: var(--main-padding);
}

nav {
  align-self: stretch;
}

nav ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 1em var(--main-padding);
  gap: 0.5em;
  justify-content: space-between;
  list-style-type: none;
}

@media (min-width: 720px) {
  header {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  h1 {
    align-self: center;
  }

  nav ul {
    gap: 2em;
  }
}

section,
.hero-content,
footer {
  gap: 2em;
}

section,
footer {
  padding: var(--main-padding);
}

blockquote {
  margin-bottom: 0.5em;
}

.banner {
  padding: 2em;
  gap: 1em;
  border-radius: 0.8em;
}

.hero {
  padding-top: calc(var(--main-padding) + 2em);
}

.gallery {
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3em;
}

img {
  max-width: 100%;
}

.gallery figure {
  width: 270px;
  text-align: center;
}

.gallery img {
  width: 262px;
  height: 262px;
  object-fit: cover;
  border: solid #3882f6 4px;
  border-radius: 20px;
  margin-bottom: 0.5em;
}

button {
  align-self: center;
  padding: 0.8em 3em;
  border-style: none;
  border-radius: 0.8em;
}

.banner-title {
  align-self: flex-start;
}

.banner button {
  border: solid #f9faf8 1px;
}

@media (min-width: 1024px) {
  .hero {
    padding: var(--main-padding) 15vw;
    flex-direction: row;
  }

  footer {
    padding: 2em var(--main-padding);
  }

  .hero-content {
    flex: 1;
    align-items: flex-start;
  }

  .hero-content button {
    align-self: flex-start;
  }

  .hero img {
    min-width: 0;
    flex: 1.5;
  }
}

/* Typography and colors */

:root {
  font-family: "Inter";
  font-size: 9px;
  color: #1f2937;
}

body {
  font-size: 1.8rem;
}

*,
*::before,
*::after {
  font-family: inherit;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 2.8rem;
  color: #f9faf8;
  letter-spacing: 0.1em;
}

nav {
  font-size: 1.5rem;
}

h2,
blockquote {
  font-size: 3.6rem;
}

h2 {
  font-weight: 800;
}

/* Fix weird excessive slant of the variable font in Chrome */
blockquote,
em,
i {
  font-style: oblique 10deg;
}

blockquote {
  font-weight: 300;
}

button {
  font-weight: 700;
  font-size: 1.9rem;
}

.banner-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.hero-text {
  font-size: 4.8rem;
  font-weight: 800;
  color: #f9faf8;
}

h2,
p,
figcaption {
  line-height: 1.4;
}

header,
.hero,
footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

nav {
  background-color: #35465f;
}

nav a {
  text-decoration: none;
  color: #e5e7eb;
}

footer a {
  color: #2eccb0;
}

.banner-title {
  color: #f9faf8;
}

button,
.banner {
  background-color: #3882f6;
  color: #f9faf8;
}

.quote {
  background-color: #e5e7eb;
}

@media (min-width: 720px) {
  :root {
    font-size: 10px;
  }

  nav {
    background-color: inherit;
    font-size: 1.7rem;
  }
}
