@font-face {
  font-family: "Bebas Neue";
  src: url("assets/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url("assets/Inter.var.woff2");
}

/* Layout */

:root {
  --main-padding: 6vw;
}

body,
h1,
h2,
p,
blockquote {
  margin: 0;
}

header,
section,
.banner,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding-top: 0.7em;
  gap: 0.5em;
}

h1 {
  align-self: flex-start;
  margin-inline-start: var(--main-padding);
}

nav {
  align-self: stretch;
}

nav ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 1em var(--main-padding);
  gap: 1em;
  justify-content: space-between;
  list-style-type: none;
}

section,
footer {
  padding: var(--main-padding);
  gap: 2em;
}

blockquote {
  margin-bottom: 0.5em;
}

.banner {
  padding: 2em;
  gap: 1em;
  border-radius: 0.8em;
}

.hero {
  padding-top: calc(var(--main-padding) + 2em);
}

img {
  max-width: 100%;
}

button {
  align-self: center;
  padding: 0.8em 3em;
  border-style: none;
  border-radius: 0.8em;
}

.banner-title {
  align-self: flex-start;
}

.banner button {
  border: solid #fff 1px;
}

/* Typography and colors */

:root {
  font-family: "Inter";
  font-size: 9px;
  color: #1f2937;
}

body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  font-family: inherit;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 2.8rem;
  color: #f9faf8;
  letter-spacing: 0.1em;
}

h2,
blockquote {
  font-size: 3.6rem;
}

h2 {
  font-weight: 800;
}

blockquote {
  font-weight: 300;
  font-style: italic;
}

button {
  font-weight: 700;
  font-size: 1.9rem;
}

.banner-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.hero-text {
  font-size: 4.8rem;
  font-weight: 800;
  color: #f9faf8;
}

h2,
p,
figcaption {
  line-height: 1.4;
}

header,
.hero,
footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

nav {
  background-color: #35465f;
}

nav a {
  text-decoration: none;
  color: #e5e7eb;
}

footer a {
  color: #2eccb0;
}

.banner-title {
  color: #f9faf8;
}

button,
.banner {
  background-color: #3882f6;
  color: #e5e7eb;
}

.quote {
  background-color: #e5e7eb;
}
