@font-face {
  font-family: 'Bebas Neue';
  src: url('assets/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url('assets/Inter.var.woff2');
}

/* Layout */

body {
  margin: 0;
}

img {
  width: 100%;
}

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin-block-start: auto;
  display: flex;
  gap: 16px;
}

/* Typography */

:root {
  font-family: 'Inter';
}

*, *::before, *::after {
  font-family: inherit;
}

h1 {
  font-family: 'Bebas Neue';
}
